@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body {
    background-color: #8fc0df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#Container {
    background-color: #92ccc5;
    padding: 15px;
    border-radius: 9px;
    height: 475px;
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#resultBox {
    padding: 32px;
    width: 228px;
    height: 12px;
    margin: 20px 13px;
    background-color: #FEF1E6;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content:flex-end;
    font-size: 20px;

}
.input{
    color: rgb(28, 132, 202);
}
.result{
    color: rgb(168, 90, 90);
}


.line {
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
}

#equal, #allClear{
    width: 145px;
}

.btn {
    width: 70px;
    height: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    margin: 3px;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: transparent;
}

.btn:hover {
    background-color: #cc8398;
    cursor: pointer;
}
.btn:active{
    background-color: #c06a82;
}